/* support page */
.contactblock {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: white;
  height: 150px;
  padding: 30px;
  text-align: center;

  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.10000000149011612);
  -moz-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.10000000149011612);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.10000000149011612);
}
.supporteskidooslink {
  background-color: black;
  padding: 6px 15px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
}
.supporteskidooslink:hover {
  background-color: #444444;
  color: white;
}

/* top bar adminzone */

#wpadminbar #wp-admin-bar-customlogo {
  padding: 2px;
}

#wpadminbar #wp-admin-bar-customlogo img {
  padding: 0 !important;
  max-height: initial;
  width: 105px;
}

#wpadminbar .quicklinks > ul > li > a {
  padding: 0 8px 0 10px;
}

/* academy page */

.academy-container,
.manual-container {
  padding-right: 10px;
}

.academy-container > article,
.manual-container > article {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.academy-container > article:not(:last-of-type),
.manual-container > article:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.academy-container > article a,
.manual-container > article a {
  text-decoration: none;
}

.academy-container > article span,
.manual-container > article span {
  display: block;
  padding: 1.5em 1.1em;
  color: #303133;
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 1.4;
  font-family: Montserrat;
}

.academy-container > article a:hover span,
.manual-container > article a:hover span {
  color: #e1001f;
}

.academy-container .academy-item__imageholder,
.manual-container .academy-item__imageholder {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@supports (aspect-ratio: 16 / 9) {
  .academy-container .academy-item__imageholder,
  .manual-container .academy-item__imageholder {
    aspect-ratio: 16 / 9;
    padding-bottom: 0;
  }
}

.academy-container article img,
.manual-container article img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  backface-visibility: hidden;
  transition-property: transform, filter, opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.academy-container article:hover img,
.manual-container article img {
  transform: scale(1.05, 1.05);
}

@media screen and (min-width: 550px) {
  .academy-container,
  .manual-container {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 20px);
  }

  .academy-container > article,
  .manual-container > article {
    flex-basis: calc((100% / 2) - 0.75rem);
    max-width: calc((100% / 2) - 0.75rem);
  }

  .academy-container > article:first-of-type,
  .manual-container > article:first-of-type {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .academy-container > article,
  .manual-container > article {
    flex-basis: calc((100% / 3) - 1rem);
    max-width: calc((100% / 3) - 1rem);
    margin-right: 1.5rem;
  }

  .academy-container > article:last-of-type,
  .manual-container > article:last-of-type {
    margin-right: 0;
  }

  .academy-container > article:not(:last-of-type),
  .manual-container > article:not(:last-of-type) {
    margin-bottom: 0;
  }
}
